@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

.nav-link {
  font-weight: 500;
  color: #000;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.offcanvas {
  border-width: 0px !important;
}

.offcanvas-menu {
  width: 75% !important;
}

nav {
  border-bottom: 1px solid #F0F0F0;
}

.navbar-brand {
  margin: 0px;
}

.offcanvas-header {
  height: 57px;
  border-bottom: 1px solid #F0F0F0;
}