@font-face {
  font-family: "ABCDiatypeSemi-Mono-Regular-Trial";
  src: url("./ABCDiatypeSemi-Mono-Regular-Trial.woff2") format("woff2");
}

.btn {
  border-radius: 0px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

* {
  font-size: 14px;
  font-family: 'ABCDiatypeSemi-Mono-Regular-Trial' !important;
}

.nav-link {
  margin-right: 16px;
}

.nav-link, .navbar-brand {
  color: #000 !important;
}